<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %}{% endblock %}| Lychee</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
        <link rel="stylesheet" href="/static/blog.css" />
    </head>
    <body>
        <div id="layout" class="pure-g">
            <div class="sidebar pure-u-1 pure-u-md-1-4">
                <div class="header">
                    <h1 class="brand-title">Lychee's Blog</h1>
                    <h2 class="brand-tagline">I'm a static blog generator.</h2>
                    <nav class="nav">
                        <ul class="nav-list">
                            <li class="nav-item">
                                <a class="pure-button" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="pure-button" href="/page/1">Archive</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="content pure-u-1 pure-u-md-3-4">
                {% block content %}{% endblock %}
                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal">
                        <ul>
                            <li class="pure-menu-item">
                                <a href="/about.html">About</a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="https://github.com/dust8/lychee">Github</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>                  
        </div>
    </body>
</html>