<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> {% block title %}{% endblock %}| Lychee</title>
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/tomorrow.css">
</head>
<body>
  <div class="header clearfix">
    <a class="logo" href="/">LYCHEE</a>
    <ul class="nav nav-list">
      <li class="nav-list-item"><a href="/">BLOG</a></li>
      <li class="nav-list-item"><a href="/archive.html">ARCHIVE</a></li>
      <li class="nav-list-item"><a href="/about.html">ABOUT</a></li>
    </ul>
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>

  <div class="footer">
    <p> © 2015-2016 Powered by <a href="https://github.com/dust8/lychee">lychee</a></p>
  </div>
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="/static/highlight.pack.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
