{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container">
    <div class="posts">
        {% for post in site.posts[:2] %}
            <div class="row post">
                <header class="post-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-meta">
                    {{ post.date }}
                    </p>

                </header>
                <div class="post-description">{{ post.content }}</div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
