*{
    margin: 0;
    padding: 0;
}
html,body{height: 100%;color: #000;}
a, a:visited {
  text-decoration: none;
}

.container{
  max-width: 900px;
}
.header{
    border-bottom: 1px solid #ddd;
}
.header h1{
    display: inline-block;
}
.header ul{
    list-style: none;
    float: right;
    display: inline-block;
    padding-top: 30px;
}
.header ul li{
    float:left;
    margin:0 0.5em;
    font-size:20px;
}
.header ul li a{
    color: #000;
}

.footer{
    height: 100px;
    padding-top: 55px;
    padding-bottom: 55px;
    text-align: center;
}
.post{
  font-size:large
}
.wrapper{min-height: 100%; margin-bottom: -100px;}
.footer_placeholder{height: 100px;clear: both;}
