<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %}{% endblock %}| Lychee</title>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/blog.css" />
    </head>
    <body>
    <div class="wrapper">
        <div class="header">
            <div class="container">
                <div class="row hero">
                    <h1>Lychee</h1>
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/archives.html">Archives</a></li>
                        <li><a href="/about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <div class="footer_placeholder"></div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                 © 2015 Powered by <a href="https://github.com/dust8/lychee">lychee</a>
            </div>
        </div>
    </div>
    </body>
</html>
